.header-bar {
  background-color: #D1D2D3;
  display: flex;
  flex-direction: row;
  margin: 0 100px;
  height: 120px;
  align-items: center;
  justify-content: space-between;
}

.header-bar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 20px;
}

.header-bar a {
  color: #666666;
  text-decoration: none;
  margin: 20px 20px;
  font-size: 18px;
}

.header-bar input {
  margin: 0 20px;
  font-size: 18px;
  height: 30px;
  padding: 5px 10px;
}

.header-bar input::placeholder {
  background: url(../search.png) no-repeat;
  padding-left: 30px;
}

.header-bar button {
  display: none;
}

@media only screen and (max-width: 1145px) {
  .header-bar nav, 
  .header-bar input {
    display: none;
  }

  .header-bar {
    display: grid;
    grid-template-rows: 120px 1fr 1fr;
    grid-template-columns: 120px 1fr;
  }

  .header-bar button {
    display: inline-block;
    color: #666666;
    font-weight: 300;
    background: none;
    border: none;
    width: 150px;
    font-size: 25px;
    margin: 0;
    justify-self: end;
  }

  .extended-height {
    height: 379px;
  }

  nav.expanded-menu {
    display: flex;
    flex-direction: column;
    grid-area: 2/1/3/3;
    background-color: #f0f0f0;
  }

  input.expanded-menu {
    display: block;
    grid-area: 3/1/4/3;
    border: 20px solid #f0f0f0;
    margin: 0;
  }
}

@media only screen and (max-width: 520px) {
  .header-bar {
    margin: 0 50px;
  }
}
