.accordian-tabs__container {
  margin: 0 100px;
}

.accordian-tabs__container button {
  width: 25%;
  height: 50px;
  padding: 0;
  border: none;
  background: #F2F2F2;
  color: #666666;
  margin: -2px;
  border-bottom: 1px solid #D1D2D3;
  border-left: 1px solid white;
}

.accordian-tabs__container button:hover {
  cursor: pointer;
}

.accordian-tabs__container button.selected {
  background: white;
  border: 1px solid #D1D2D3;
  border-bottom: none;
  font-weight: 600;
  margin-left: 0;
}

.accordian-tabs__body {
  display: grid;
  grid-template-columns: 250px calc(100% - 250px);
  padding: 20px;
  border: 1px solid #D1D2D3;
  border-top: none;
}

.accordian-tabs__body img {
  grid-area: 1/1/2/2;
}

.accordian-tabs__body--container {
  grid-area: 1/2/2/3;
  padding-left: 30px;
  max-height: 300px;
  overflow: scroll;
}

.accordian-tabs__body hr {
  width: 100%;
  border: 0.5px solid #D1D2D3;
}

.accordian-tabs__body p {
  line-height: 23px;
}
