
body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #2F2235;
  color: #F2F2F2;
}

header span {
  color: #34D1D1;
}

header h1 {
  display: inline-block;
  font-weight: 300;
  padding-left: 60px;
}

header h2 {
  display: inline-block;
  float: right;
  padding-right: 60px;
  line-height: 39px;
}

.subheader {
  display: grid;
  grid-template-columns: 220px calc(100% - 220px);
  margin: 20px 70px;
}

.subheader h3 {
  width: 100%;
  font-size: 22px;
  font-weight: 300;
}

.subheader hr {
  width: 100%;
  align-self: center;
  border: 0.5px solid #D1D2D3;
}

.accordian-tabs__container {
  margin: 0 100px;
}

.accordian-tabs__container button {
  width: 24.5%;
  height: 50px;
  padding: 0;
  border: 1px solid #F2F2F2;
  background: #F2F2F2;
}

.accordian-tabs__body {
  display: grid;
  grid-template-columns: 250px calc(100% - 250px);
  padding: 20px;
  overflow: scroll;
}

.accordian-tabs__body img {
  grid-area: 1/1/2/2;
}

.accordian-tabs__body--container {
  grid-area: 1/2/2/3;
  padding-left: 30px;
}

.accordian-tabs__body hr {
  width: 100%;
  border: 0.5px solid #D1D2D3;
}

.accordian-tabs__body p {
  line-height: 23px;
}


